VITE_FIREBASE_API_KEY=AIzaSyAaKlbA8CT8uV31pHH6JLopDXfrnURUUNA
VITE_FIREBASE_AUTH_DOMAIN=nazah-jewelry.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nazah-jewelry
VITE_FIREBASE_STORAGE_BUCKET=nazah-jewelry.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=249657431909
VITE_FIREBASE_APP_ID=1:249657431909:web:06b25ee24d90293dbeb38c
VITE_FIREBASE_MEASUREMENT_ID=G-681MNWPDT1