@import "tailwindcss";

@theme {
  --color-primary: #C5A059;
  --color-background: #1A202C;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-background text-gray-200 font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-primary;
}
